[submodule "dot/zsh/custom/plugins/mysql-colorize"]
	path = dot/zsh/custom/plugins/mysql-colorize
	url = https://github.com/horosgrisa/mysql-colorize
[submodule "dot/zsh/custom/plugins/zsh-autosuggestions"]
	path = dot/zsh/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "dot/zsh/custom/plugins/zsh-syntax-highlighting"]
	path = dot/zsh/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "dot/zsh/custom/plugins/zsh-you-should-use"]
	path = dot/zsh/custom/plugins/zsh-you-should-use
	url = https://github.com/MichaelAquilina/zsh-you-should-use
[submodule "dot/vim/pack/utilities/start/ale"]
	path = dot/vim/pack/utilities/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "dot/vim/pack/utilities/start/editorconfig-vim"]
	path = dot/vim/pack/utilities/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim
[submodule "dot/vim/pack/filetypes/start/php.vim"]
	path = dot/vim/pack/filetypes/start/php.vim
	url = https://github.com/StanAngeloff/php.vim
[submodule "dot/vim/pack/utilities/start/tcomment_vim"]
	path = dot/vim/pack/utilities/start/tcomment_vim
	url = https://github.com/tomtom/tcomment_vim
[submodule "dot/vim/pack/filetypes/start/typescript-vim"]
	path = dot/vim/pack/filetypes/start/typescript-vim
	url = https://github.com/leafgarland/typescript-vim
[submodule "dot/vim/pack/filetypes/start/vim-blade"]
	path = dot/vim/pack/filetypes/start/vim-blade
	url = https://github.com/jwalton512/vim-blade
[submodule "dot/vim/pack/filetypes/start/vim-gfm-syntax"]
	path = dot/vim/pack/filetypes/start/vim-gfm-syntax
	url = https://github.com/rhysd/vim-gfm-syntax
[submodule "dot/vim/pack/filetypes/start/vim-javascript"]
	path = dot/vim/pack/filetypes/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "dot/vim/pack/filetypes/start/vim-jsx"]
	path = dot/vim/pack/filetypes/start/vim-jsx
	url = https://github.com/mxw/vim-jsx
[submodule "dot/vim/pack/filetypes/start/vim-pug"]
	path = dot/vim/pack/filetypes/start/vim-pug
	url = https://github.com/digitaltoad/vim-pug
[submodule "dot/vim/pack/utilities/start/vim-surround"]
	path = dot/vim/pack/utilities/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "dot/vim/pack/filetypes/start/vim-vue"]
	path = dot/vim/pack/filetypes/start/vim-vue
	url = https://github.com/posva/vim-vue
[submodule "dot/vim/pack/utilities/start/vim-repeat"]
	path = dot/vim/pack/utilities/start/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "dot/vim/pack/filetypes/start/vader.vim"]
	path = dot/vim/pack/filetypes/start/vader.vim
	url = https://github.com/junegunn/vader.vim
[submodule "dot/vim/pack/filetypes/start/vim-liquid"]
	path = dot/vim/pack/filetypes/start/vim-liquid
	url = https://github.com/tpope/vim-liquid.git
[submodule "dot/vim/pack/filetypes/opt/vim-instant-markdown"]
	path = dot/vim/pack/filetypes/opt/vim-instant-markdown
	url = https://github.com/suan/vim-instant-markdown.git
[submodule "dot/vim/pack/filetypes/start/rust.vim"]
	path = dot/vim/pack/filetypes/start/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule "dot/vim/pack/filetypes/start/vim-toml"]
	path = dot/vim/pack/filetypes/start/vim-toml
	url = https://github.com/cespare/vim-toml.git
[submodule "dot/vim/pack/filetypes/start/vim-twig"]
	path = dot/vim/pack/filetypes/start/vim-twig
	url = https://github.com/lumiliet/vim-twig.git
[submodule "dot/vim/pack/filetypes/start/vim-go"]
	path = dot/vim/pack/filetypes/start/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "dot/vim/pack/utilities/start/auto.pairs"]
	path = dot/vim/pack/utilities/start/auto.pairs
	url = https://github.com/Krasjet/auto.pairs
[submodule "dot/vim/pack/filetypes/start/vifm.vim"]
	path = dot/vim/pack/filetypes/start/vifm.vim
	url = https://github.com/vifm/vifm.vim.git
[submodule "dot/emacs.d"]
	path = dot/emacs.d
	url = https://github.com/hlissner/doom-emacs
	branch = master
