[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git@github.com:ohmyzsh/ohmyzsh
[submodule "dot/vim/pack/git/opt/fugitive-gitlab.vim"]
	path = dot/vim/pack/git/opt/fugitive-gitlab.vim
	url = git@github.com:shumphrey/fugitive-gitlab.vim
[submodule "dot/vim/pack/finders/opt/incsearch-fuzzy.vim"]
	path = dot/vim/pack/finders/opt/incsearch-fuzzy.vim
	url = git@github.com:haya14busa/incsearch-fuzzy.vim
[submodule "dot/vim/pack/git/opt/vim-rhubarb"]
	path = dot/vim/pack/git/opt/vim-rhubarb
	url = git@github.com:tpope/vim-rhubarb
[submodule "dot/zsh/custom/plugins/mysql-colorize"]
	path = dot/zsh/custom/plugins/mysql-colorize
	url = git@github.com:horosgrisa/mysql-colorize
[submodule "dot/zsh/custom/plugins/zsh-autosuggestions"]
	path = dot/zsh/custom/plugins/zsh-autosuggestions
	url = git@github.com:zsh-users/zsh-autosuggestions
[submodule "dot/zsh/custom/plugins/zsh-syntax-highlighting"]
	path = dot/zsh/custom/plugins/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting
[submodule "dot/zsh/custom/plugins/zsh-you-should-use"]
	path = dot/zsh/custom/plugins/zsh-you-should-use
	url = git@github.com:MichaelAquilina/zsh-you-should-use
[submodule "dot/vim/pack/utilities/start/ale"]
	path = dot/vim/pack/utilities/start/ale
	url = git@github.com:dense-analysis/ale.git
[submodule "dot/vim/pack/finders/start/ctlp.vim"]
	path = dot/vim/pack/finders/start/ctlp.vim
	url = git@github.com:ctrlpvim/ctrlp.vim
[submodule "dot/vim/pack/utilities/start/editorconfig-vim"]
	path = dot/vim/pack/utilities/start/editorconfig-vim
	url = git@github.com:editorconfig/editorconfig-vim
[submodule "dot/vim/pack/finders/start/incsearch.vim"]
	path = dot/vim/pack/finders/start/incsearch.vim
	url = git@github.com:haya14busa/incsearch.vim
[submodule "dot/vim/pack/utilities/start/indentLine"]
	path = dot/vim/pack/utilities/start/indentLine
	url = git@github.com:Yggdroot/indentLine.git
[submodule "dot/vim/pack/nerdtree/start/nerdtree-git-plugin"]
	path = dot/vim/pack/nerdtree/start/nerdtree-git-plugin
	url = git@github.com:Xuyuanp/nerdtree-git-plugin
[submodule "dot/vim/pack/nerdtree/start/nerdtree"]
	path = dot/vim/pack/nerdtree/start/nerdtree
	url = git@github.com:scrooloose/nerdtree
[submodule "dot/vim/pack/filetypes/start/php.vim"]
	path = dot/vim/pack/filetypes/start/php.vim
	url = git@github.com:StanAngeloff/php.vim
[submodule "dot/vim/pack/utilities/start/tcomment_vim"]
	path = dot/vim/pack/utilities/start/tcomment_vim
	url = git@github.com:tomtom/tcomment_vim
[submodule "dot/vim/pack/filetypes/start/typescript-vim"]
	path = dot/vim/pack/filetypes/start/typescript-vim
	url = git@github.com:leafgarland/typescript-vim
[submodule "dot/vim/pack/airline/start/vim-airline-themes"]
	path = dot/vim/pack/airline/start/vim-airline-themes
	url = git@github.com:vim-airline/vim-airline-themes
[submodule "dot/vim/pack/airline/start/vim-airline"]
	path = dot/vim/pack/airline/start/vim-airline
	url = git@github.com:vim-airline/vim-airline
[submodule "dot/vim/pack/utilities/start/vim-auto-save"]
	path = dot/vim/pack/utilities/start/vim-auto-save
	url = git@github.com:907th/vim-auto-save
[submodule "dot/vim/pack/filetypes/start/vim-blade"]
	path = dot/vim/pack/filetypes/start/vim-blade
	url = git@github.com:jwalton512/vim-blade
[submodule "dot/vim/pack/utilities/start/vim-easymotion"]
	path = dot/vim/pack/utilities/start/vim-easymotion
	url = git@github.com:easymotion/vim-easymotion
[submodule "dot/vim/pack/git/start/vim-fugitive"]
	path = dot/vim/pack/git/start/vim-fugitive
	url = git@github.com:tpope/vim-fugitive
[submodule "dot/vim/pack/filetypes/start/vim-gfm-syntax"]
	path = dot/vim/pack/filetypes/start/vim-gfm-syntax
	url = git@github.com:rhysd/vim-gfm-syntax
[submodule "dot/vim/pack/git/start/vim-gitgutter"]
	path = dot/vim/pack/git/start/vim-gitgutter
	url = git@github.com:airblade/vim-gitgutter.git
[submodule "dot/vim/pack/filetypes/start/vim-javascript"]
	path = dot/vim/pack/filetypes/start/vim-javascript
	url = git@github.com:pangloss/vim-javascript.git
[submodule "dot/vim/pack/filetypes/start/vim-jsx"]
	path = dot/vim/pack/filetypes/start/vim-jsx
	url = git@github.com:mxw/vim-jsx
[submodule "dot/vim/pack/filetypes/start/vim-pug"]
	path = dot/vim/pack/filetypes/start/vim-pug
	url = git@github.com:digitaltoad/vim-pug
[submodule "dot/vim/pack/utilities/start/vim-surround"]
	path = dot/vim/pack/utilities/start/vim-surround
	url = git@github.com:tpope/vim-surround
[submodule "dot/vim/pack/filetypes/start/vim-vue"]
	path = dot/vim/pack/filetypes/start/vim-vue
	url = git@github.com:posva/vim-vue
[submodule "dot/vim/pack/utilities/start/vim-repeat"]
	path = dot/vim/pack/utilities/start/vim-repeat
	url = git@github.com:tpope/vim-repeat
[submodule "dot/vim/pack/filetypes/start/vader.vim"]
	path = dot/vim/pack/filetypes/start/vader.vim
	url = git@github.com:junegunn/vader.vim
[submodule "dot/vim/pack/utilities/opt/vim-jekyll"]
	path = dot/vim/pack/utilities/opt/vim-jekyll
	url = git@github.com:parkr/vim-jekyll.git
[submodule "dot/vim/pack/filetypes/start/vim-liquid"]
	path = dot/vim/pack/filetypes/start/vim-liquid
	url = git@github.com:tpope/vim-liquid.git
[submodule "dot/vim/pack/utilities/start/vim-localvimrc"]
	path = dot/vim/pack/utilities/start/vim-localvimrc
	url = git@github.com:embear/vim-localvimrc.git
[submodule "dot/vim/pack/utilities/start/goyo.vim"]
	path = dot/vim/pack/utilities/start/goyo.vim
	url = git@github.com:junegunn/goyo.vim.git
[submodule "dot/vim/pack/filetypes/opt/vim-instant-markdown"]
	path = dot/vim/pack/filetypes/opt/vim-instant-markdown
	url = git@github.com:suan/vim-instant-markdown.git
[submodule "dot/vim/pack/utilities/opt/emmet-vim"]
	path = dot/vim/pack/utilities/opt/emmet-vim
	url = git@github.com:mattn/emmet-vim.git
[submodule "dot/vim/pack/filetypes/start/rust.vim"]
	path = dot/vim/pack/filetypes/start/rust.vim
	url = git@github.com:rust-lang/rust.vim.git
[submodule "dot/vim/pack/filetypes/start/vim-toml"]
	path = dot/vim/pack/filetypes/start/vim-toml
	url = git@github.com:cespare/vim-toml.git
[submodule "dot/vim/pack/utilities/start/vim-test"]
	path = dot/vim/pack/utilities/start/vim-test
	url = git@github.com:janko/vim-test.git
[submodule "dot/vim/pack/filetypes/start/vim-twig"]
	path = dot/vim/pack/filetypes/start/vim-twig
	url = git@github.com:lumiliet/vim-twig.git
[submodule "dot/vim/pack/filetypes/start/vim-go"]
	path = dot/vim/pack/filetypes/start/vim-go
	url = git@github.com:fatih/vim-go.git
[submodule "dot/vim/pack/utilities/start/auto.pairs"]
	path = dot/vim/pack/utilities/start/auto.pairs
	url = git@github.com:Krasjet/auto.pairs
